@model CritterHeroes.Web.Features.Home.Models.HeaderModel

<div class="page-banner flex-row pad-def hide-sm hide-xs">
    <div class="logo-col"><img src="@Model.LogoUrl" class="logo-medium" alt="Logo"></div>
    <div class="quote-col">
        <blockquote>
            <p>I believe in animal rights, and high among them is the right to the gentle stroke of a human hand.</p>
            <footer><cite>Robert Brault</cite></footer>
        </blockquote>
    </div>
</div>
