@model CritterHeroes.Web.Areas.Admin.People.Models.PeopleSummaryModel

@{
    ViewBag.Title = "Data Maintenance - People";
}

@section scripts{
}

<h2>Data Maintenance - People</h2>

<form action="@Url.AdminPeopleImportAction()" method="post">
    @Html.AntiForgeryToken()
    <input type="submit" class="btn btn-primary" value="Import People" />
</form>

<form action="@Url.AdminBusinessImportAction()" method="post">
    @Html.AntiForgeryToken()
    <input type="submit" class="btn btn-primary" value="Import Businesses" />
</form>
