@import "variables.scss";

.filters-container {
    width: 100%;
    border: 1px solid $table-border-color;
    border-radius: $border-radius-small;
    display: flex;
    flex-direction: row;
    font-size: $font-size-small;
    margin-bottom: $padding-base-vertical;
}

.filters-container section {
    padding-top: $padding-small-vertical;
    padding-bottom: $padding-small-vertical;
    padding-right: $padding-small-vertical;
    margin-left: $padding-small-vertical;
}

.filters-container section > label {
    padding-right: $padding-base-vertical;
    margin: 0;
}

.filters-container section:first-child {
    border-right: 1px solid $table-border-color;
    padding-right: $padding-small-vertical;
    font-weight: bold;
    height: 100%;
}
