@import "variables.scss";
@import "mixins.scss";

.filters-container {
    @include flex-row();
    @include flex-center();
    width: 100%;
    border: 1px solid $table-border-color;
    border-radius: $border-radius-small;
    font-size: $font-size-small;
    margin-bottom: $padding-base-vertical;

    section {
        padding-top: $padding-small-vertical;
        padding-bottom: $padding-small-vertical;
        padding-right: $padding-small-vertical;
        margin-left: $padding-small-vertical;

        > label {
            padding-right: $padding-base-vertical;
            margin: 0;
        }

        &:first-child {
            border-right: 1px solid $table-border-color;
            padding-right: $padding-small-vertical;
            font-weight: bold;
            align-self: stretch;
            display: flex;
            align-items: center;
        }
    }
}

.filter-buttons {
    @include flex-row();
    @include flex-right ();
    flex: 1;

    a, button {
        padding-bottom: $padding-xs-vertical;
        padding-top: $padding-xs-vertical;
        margin-left: $padding-small-vertical;
    }
}
