@import "variables.scss";
@import "mixins.scss";
@import "buttons.scss";
@import "shared.scss";

input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
}

a.primary {
    @extend .btn;
    @extend .btn-primary;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: $font-size-small;
}

.form-control {
    width: 100%;
    height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $input-color;
    background-color: $input-bg;
    border: 1px solid $input-border;
    border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;

    &:focus {
        border-color: rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);
    }
    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
        border: 0;
        background-color: transparent;
    }

    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: $input-bg-disabled;
        opacity: 1;
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: $cursor-disabled;
    }
}

form section {
    margin-bottom: $form-group-margin-bottom;
}

form section input[type="text"], form section input[type="password"], form section input[type="email"] {
    @extend .form-control;

    &.input-validation-error {
        @extend .input-validation-error;
    }

    &.valid {
        @extend .valid;
    }
}

.input-group {
    vertical-align: middle;
    @include flex-row();
    @include flex-center();

    > input, > .form-control {
        @extend .flex-cell-s1;

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        &:first-child {
            @extend .radius-right-none;
        }

        &:last-child {
            @extend .radius-left-none;
        }
    }

    > button {
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        &:first-child {
            @extend .radius-right-none;
        }

        &:last-child {
            @extend .radius-left-none;
        }
    }
}

.input-group-icon {
    font-size: $font-size-base;
    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;
    color: $input-color;
    background-color: $input-group-addon-bg;
    line-height: 1;
    border: 1px solid $input-group-addon-border-color;
    border-radius: $input-border-radius;
    align-self: stretch;
    display: flex;
    align-items: center;

    &:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    &:first-child {
        @extend .radius-right-none;
    }

    &:last-child {
        @extend .radius-left-none;
    }
}

/* Validation */

.input-validation-error {
    color: $state-danger-text;
    border-color: $state-danger-text;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    &:focus {
        border-color: darken($state-danger-text, 10%);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($state-danger-text, 20%);
    }
}

.valid {
    color: $state-success-text;
    border-color: $state-success-text;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    &:focus {
        border-color: darken($state-success-text, 10%);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($state-success-text, 20%);
    }
}

.field-validation-error {
    color: $color-danger;
}

.validation-summary-errors {
    color: $color-danger;
}

.validation-summary-errors ul {
    list-style: none;
}

.form-med {
    max-width: 500px;
}
