@import "variables.less";

nav {
    background: @color-primary;

    ul {
        list-style: none;
    }

    li {
        position: relative;

        > a {
            position: relative;
            display: block;
            color: @body-bg;
            font-weight: 300;
            font-size: 13px;
            padding: @nav-link-padding;
            line-height: @line-height-computed;

            &:hover,
            &:focus {
                text-decoration: none;
                color: @body-bg;
                background-color: @nav-link-hover-bg;
            }
        }

        &.disabled > a {
            color: @nav-disabled-link-color;

            &:hover,
            &:focus {
                color: @nav-disabled-link-hover-color;
                text-decoration: none;
                background-color: transparent;
                cursor: @cursor-disabled;
            }
        }
    }
}

.navbar-toggle {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: @border-radius-base;

    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: @navbar-default-toggle-icon-bar-bg;
    }

    .icon-bar + .icon-bar {
        margin-top: 4px;
    }
}

.navbar-brand {
    font-size: @font-size-large;
    line-height: @line-height-computed;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}
