@import "variables.less";

// Padding

.pad-def {
    padding: @padding-base-vertical @padding-base-horizontal;
}

// Flex

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-cell-s1 {
    flex: 1;
}

.flex-cell-o1 {
    order: 1;
}

.flex-cell-o2 {
    order: 2;
}

.flex-cell-o3 {
    order: 3;
}

.flex-center {
    align-items: center;
}

.flex-stretch {
    align-items: stretch;
}

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    justify-content: flex-end;
}

// Misc

.hidden {
    display: none !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.page-banner {
    background: @color-secondary;
    padding: @padding-base-vertical @padding-base-vertical;
    width: 100%;

    @media(min-width: @screen-sm-max) {
        padding-top: @padding-large-vertical;
        padding-bottom: @padding-large-vertical;
    }
}

.radius-right-none {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.radius-left-none {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.busy {
    background: url("@{images-path}spinner.gif") no-repeat;
    min-width: 24px;
    min-height: 16px;
    background-position-x: 4px;
    background-position-y: 2px;
    padding-left: 22px;
    margin-right: 4px;
}

// Logos

.logo-medium {
    width: 140px;
    height: 140px;
}

.logo-small {
    width: 36px;
    height: 36px;
    margin: 5px;
}

// Animations and effects

.fade {
    opacity: 0;
    transition: opacity .15s linear;

    &.in {
        opacity: 1;
    }
}

.slide-down {
    top: 0;
    transition: all 0.3s ease-out;

    &.in {
        visibility: visible;
        top: 50%;
        transform: translateY(-50%);
    }
}
