$import "bootstrap.scss";
$import "variables.scss";

.optional-text {
    display: none;

    $media (min-width: $screen-sm-min) {
        display: inline-block;
    }
}

.text-transparent {
    color: $body-bg;
}

.margin-left-small {
    margin-left: 1em;
}

.padding-vertical-small {
    padding-top: 5px;
    padding-bottom: 5px;
}

.align-top, .btn.align-top {
    vertical-align: top;
}

.nodisplay {
    display: none;
}

.modal-body .progress {
    margin-bottom: 0;
}

.progress {
    padding: 0;
}

.busy {
    background: url("${images-path}spinner.gif") no-repeat;
    min-width: 24px;
    min-height: 16px;
    background-position-x: 4px;
    background-position-y: 8px;
}

.busy.message {
    padding-left: 22px;
    margin-right: 4px;
    background-position-x: 0;
    background-position-y: 3px;
}

.color-key {
    vertical-align: middle;
    padding: $padding-base-vertical $padding-base-horizontal;
}

[data-active="false"], .table-striped > tbody > tr[data-active="false"] {
    background-color: $gray-lighter;
}

.person {
    .glyphicon();
    .glyphicon-user();
}

.business {
    .glyphicon();
    .glyphicon-home();
}

/* Logos */

.logo-medium {
    width: 140px;
    height: 140px;
}

.logo-small {
    width: 36px;
    height: 36px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    .visible-xs;
    .visible-sm;
}

/* Borders */

.border-right {
    border-right: 1px solid $table-border-color;
}

.border-left {
    border-left: 1px solid $table-border-color;
}

.border-left.border-left-xs {
    $media (max-width: $screen-sm-max) {
        border-left-style: none;
    }
}

.border-bottom {
    border-bottom: 1px solid $table-border-color;
}

.border-top {
    border-top: 1px solid $table-border-color;
}

.border-top.border-top-md {
    $media (min-width: $screen-md-min) {
        border-top-style: none;
    }
}

.border-top.border-top-thick {
    border-width: 3px;
}

.border-box {
    border: 1px solid $table-border-color;
}

/* Badges */

.badge-invalid {
    color: $label-color;
    background-color: $brand-danger;
}

.badge-valid {
    color: $label-color;
    background-color: $brand-success;
}

/* File Upload */

.file-upload {
    position: relative;
    overflow: hidden;
}

.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}
