@import "variables.scss";

// Padding

.pad-def {
    padding: $padding-base-vertical $padding-base-horizontal;
}

.pad-xs {
    padding: $padding-xs-vertical $padding-xs-horizontal;
}

// Margins

.margin-left-small {
    margin-left: 1em;
}

.margin-left-xs {
    margin-left: .5em;
}

// Misc

.hidden {
    display: none !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.margin-left-small {
    margin-left: 1em;
}

.center-horizontal {
    margin-left: auto;
    margin-right: auto;
}

.page-banner {
    background: $color-secondary;
    padding: $padding-base-vertical $padding-base-vertical;
    width: 100%;

    @media(min-width: $screen-sm-max) {
        padding-top: $padding-large-vertical;
        padding-bottom: $padding-large-vertical;
    }
}

.radius-right-none {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.radius-left-none {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.busy {
    background: url("${images-path}spinner.gif") no-repeat;
    min-width: 24px;
    min-height: 16px;
    background-position-x: 4px;
    background-position-y: 2px;
    padding-left: 22px;
    margin-right: 4px;
}

.color-key {
    vertical-align: middle;
    padding: $padding-base-vertical $padding-base-horizontal;
}

[data-active="false"], .flex-table-row[data-active="false"] {
    background-color: $gray-lighter;
}

// Logos

.logo-medium {
    width: 140px;
    height: 140px;
}

.logo-small {
    width: 36px;
    height: 36px;
    margin: 5px;
}

// Animations and effects

.fade {
    opacity: 0;
    transition: opacity .15s linear;

    &.in {
        opacity: 1;
    }
}

.slide-down {
    top: 0;
    transition: all 0.3s ease-out;

    &.in {
        visibility: visible;
        top: 50%;
        transform: translateY(-50%);
    }
}

// File Upload

.file-upload {
    position: relative;
    overflow: hidden;
}

.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}
