<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=animalrescues;AccountKey=fNE2f6L25roMiDwLNHBPgts2f7GRHzjbgr+CXZzXDCD21d1yUR3klu2fKmCYtDNjGY8Xzee9JlUaRk1OKhPoaA==" />
</connectionStrings>


