@{
    ViewBag.Title = "Forgot Password";
}

<p>Instructions for resetting your password have been emailed to you. Please check your email and follow the provided instructions to complete resetting your password.</p>
<p>If you can't find the email, please check your spam folder. If you still can't find it, you may <a href="@Url.AccountAction(x => x.ForgotPassword())">try again</a>.</p>
