<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="SeedEmail" value="tduncan72@gmail.com" />
  <add key="SeedPassword" value="" />
  <add key="DatabaseUser" value="" />
  <add key="DatabasePassword" value="" />
  <add key="fflah" value="71a22c0b-23fb-4fc0-96a8-792474c80953"/>
</appSettings>
