<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  
  <add key="SeedEmail" value="tduncan72@gmail.com" />
  <add key="fflah" value="71a22c0b-23fb-4fc0-96a8-792474c80953"/>
  
  <!-- Key for passwords should match username -->
  <add key="tduncan72@gmail.com" value="" />
  <add key="cheroes_dev" value="" />

  <!-- Server users-->
  <add key="(localdb)\v2016" value="cheroes_dev" />
  
</appSettings>
