<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="CritterHeroes" connectionString="server=localhost;database=CritterHeroes_Test;uid=cheroes-dev;pwd=" providerName="System.Data.SqlClient" />
  <add name="CritterHeroesMigrations" connectionString="server=localhost;database=CritterHeroes_Test;Integrated Security=true" providerName="System.Data.SqlClient" />
  <add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" />
</connectionStrings>

