<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="CritterHeroes" connectionString="server=localhost;database=CritterHeroes;Integrated Securiy=true" providerName="System.Data.SqlClient" />
  <add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" />
</connectionStrings>
