<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="CritterHeroes" connectionString="server=(localdb)\v2016;database=CritterHeroes;uid=cheroes_dev;pwd=" providerName="System.Data.SqlClient" />
  <add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" />
</connectionStrings>
