<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="rescueGroups" type="AR.RescueGroups.Configuration.RescueGroupsConfigurationSection, AR.RescueGroups" />
  </configSections>

  <rescueGroups configSource="RescueGroups.config" />

</configuration>
