@model AR.Website.Models.MenuModel
@using AR.Domain.Identity

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="@Url.Content("~/Content/Images/Logo36x35.png")" class="logo-small pull-left" />
            @Html.FluentHtml().Link().HomeActionLink(x => x.Index()).Text("FFLAH").Class("navbar-brand")
        </div>
        <div class="navbar-collapse collapse">
            @{
                var menuNav = Html.FluentHtml().BootstrapNav()
                    .AsNavBar()
                    .Class("navbar-left")
                    .AddElement(
                        Html.FluentHtml().BootstrapNavItem().AddElement(
                            Html.FluentHtml().Link().ActionLink<HomeController>(x => x.Index()).Text("Home")
                        )
                    );

                if (Model.CurrentUser.IsInRole(IdentityRole.RoleNames.MasterAdmin))
                {
                    menuNav.AddElement(
                        Html.FluentHtml().BootstrapNavItem().AddElement(
                            Html.FluentHtml().Link().ActionLink<ErrorLogController>(x => x.Index()).Text("Error Log")
                        )
                    );

                    var dropdownMaintenance = Html.FluentHtml().BootstrapNavItem()
                        .AsDropdown("Maintenance")
                        .AddElement(
                            Html.FluentHtml().BootstrapNav()
                                .AsDropdown()
                                .AddElement(
                                    Html.FluentHtml().BootstrapNavItem().AddElement(
                                        Html.FluentHtml().Link().ActionLink<DataMaintenanceController>(x => x.Dashboard()).Text("Dashboard")
                                    )
                                )
                            );
                    menuNav.AddElement(dropdownMaintenance);
                }

            }
            @menuNav

            @{
                var loginNav = Html.FluentHtml().BootstrapNav()
                    .AsNavBar()
                    .Class("navbar-right");

                if (Model.CurrentUser.Identity.IsAuthenticated)
                {
                    loginNav.AddElement(
                        Html.FluentHtml().BootstrapNavItem().AddElement(
                        Html.FluentHtml().Link().ActionLink<AccountController>(x => x.LogOut()).Text("Logout")
                        )
                    );
                }
                else
                {
                    loginNav.AddElement(
                        Html.FluentHtml().BootstrapNavItem().AddElement(
                        Html.FluentHtml().Link().ActionLink<AccountController>(x => x.Login(null)).Text("Login")
                        )
                    );
                }
            }
            @loginNav
        </div>
    </div>
</div>
