@model CH.Website.Models.HeaderModel

<div class="page-banner">
    <div class="banner-container">
        <div class="banner-row">
            <div class="logo-col"><img src="@Model.LogoUrl" class="logo-medium"></div>
            <div class="quote-col">
                <blockquote>
                    <p>I believe in animal rights, and high among them is the right to the gentle stroke of a human hand.</p>
                    <footer>-<cite>Robert Brault</cite></footer>
                </blockquote>
            </div>
       </div>
    </div>
</div>