@model CH.Website.Models.HeaderModel

<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4"><img src="@Model.LogoUrl" class="logo-medium"></div>
            <div class="col-md-7 col-sm-4">
                <blockquote>
                    <p>I believe in animal rights, and high among them is the right to the gentle stroke of a human hand.</p>
                    <footer>-<cite>Robert Brault</cite></footer>
                </blockquote>
            </div>
            <div class="col-md-3 col-sm-4">
            </div>
        </div>
    </div>
</div>