@model CritterHeroes.Web.Areas.Admin.Critters.Models.CritterImportModel

@{
    ViewBag.Title = "Critters Import";
}

@section scripts
{
    <script type="text/javascript">

        (function (cheroes, $) {

            'use strict';

            $('#selectall').click(function () {
                $('[name="FieldNames"]').prop('checked', true);
            });


            $('#unselectall').click(function () {
                $('[name="FieldNames"]').prop('checked', false);
            });

            $('#import').on('submit', function (e) {

                e.preventDefault();

                var importing = $('#importing').text('Importing...');

                var frm = $(this);
                cheroes.dataManager.sendRequest({

                    url: frm.attr('action'),
                    data: frm.serialize(),

                    success: function (data) {
                        var msgs = $('#messages').empty();
                        for (var m = 0; m < data.length; m++) {
                            msgs.append($('<li>').text(data[m]));
                        }
                        importing.text('');
                    },

                    error: function (jqXhr, textStatus, errorThrown) {

                    }

                });

            });

        }(this.cheroes = this.cheroes || {}, jQuery));

    </script>
}

<h2>Critters Import</h2>

<form action="@Url.AdminCrittersImportAction()" id="import" method="post" class="margin-left-small">

    @Html.AntiForgeryToken()

    <section>
        <input type="submit" class="btn btn-primary" value="Import" />
        <span id="importing"></span>
    </section>

    <section>
        <button type="button" id="selectall" class="btn btn-info">All</button>
        <button type="button" id="unselectall" class="btn btn-info">None</button>
    </section>

    <section class="flex-column flex-wrap flex-stretch" style="max-height: 300px;">
        @foreach (string fieldName in Model.FieldNames)
        {
            <div class="flex-row pad-def">
                <input type="checkbox" id="FieldName_@fieldName" name="FieldNames" value="@fieldName" checked="checked" />
                <label for="FieldName_@fieldName" class="flex-cell-s1 margin-left-xs">@fieldName</label>
            </div>
        }
    </section>

</form>

<ul id="messages"></ul>
