@{
    ViewBag.Title = "Data Maintenance - Critters";
}

@section scripts{
    @Scripts.Render("~/bundles/admincritters")
}

<h2>Data Maintenance - Critters</h2>

<form action="@Url.AdminCrittersUploadJsonAction()" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="file-upload btn btn-primary">
        <span>Upload JSON</span>
        <input type="file" name="file" />
    </div>
</form>
