@{
    ViewBag.Title = "Data Maintenance - Critters";
}

@section scripts{
    @Scripts.Render("~/bundles/admincritters")
}

<h2>Data Maintenance - Critters</h2>

<p>Log</p>
<ul id="log" class="border-box">
</ul>
